.modal
{
    user-select: none;
    background-color: white;
    position: absolute;
    width: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
}
.modalheader {
    background-color: purple;
    position: relative;
    width: 100%;
    min-width: 100%;
}
.modalheader > span{

    cursor: pointer;
    background: red;
    color: red;
    float: right;

    padding-right: 32px;
    padding-top: 32px;
}
.modalheader > h3 {
    background-color: transparent;
    color: #17ffc4 ;    
    margin: unset;
    padding: 1rem;
}
.modal-content {
    position: relative;
    width: 100%;
    min-width: 100%;
}
.modal .close-span:hover{
    background-color: #17ffc4 ;
}

.container {
    display: flow-root !important;
}
.container div {
    display: flow-root !important;
}
#research
{
    display: none;
}

#develop-product {
    display: none;
}
#market-analysis {
    display: none;   
}
#advertising-campaign {
    display: none;    
}
#newspapermodal {
    display: none;
}

