#advertising-campaign{
    background-color: azure;
}
#advertising-content{
    background-color: azure;
    color: red;
}
#advertising-campaign .close-span
{
    background: red;
    color: black;
    size: 2rem;
    font-size: xx-large;
    float: right;
}