#game-ribbon{
    background-color: aqua;
    width: 100%;
    align-self: self-start;
    display: none;
}

#game-ribbon p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    padding-left: 1rem;
    padding-right: 1rem;
}

#develop-product {
    display: none;
}
#research {
    display: none;
    width: 44vw;
    height: 50vh;
    position: absolute;
}
#market-analysis {
    display: none;    
}
#advertising-campaign {
    display: none;    
}