#market-analysis{
    background-color: azure;
}
#market-content{
    background-color: azure;
    color: red;
}
#market-analysis .close-span
{
    cursor: pointer;
    background: red;
    color: black;
    size: 2rem;
    font-size: xx-large;
    float: right;
}
#market-analysis .close-span:hover{
    background-color: violet;
}