#main-menu button{
    float:none;
    margin-bottom: 1vh;
    width: 100%;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
  border: 1px solid skyblue;
}
#game-container button {
    color: cornflowerblue;
    border: 0.1rem solid #6494ed;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition-duration: 0.4s;
}
#game-container button:hover {
    background-color: cornflowerblue; /* Green */
    color: white;
}

#create-company{
    width: 50vw;
    min-width: 250px;
    max-width: 500px;
}

.modal {
    display: none;
    background-color: aliceblue;
}
.container{
    background-color:  #2196F3;
    border: 1px solid #2196F3;
}
.modal button {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.modal-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    display: flex;
    padding-left: 1em;
    
}

.modal-content {
    background-color: aliceblue;
    padding: 1rem;
}

.text-input {
    padding: 1rem;
    width: -webkit-fill-available;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
}
#difficulties {
    padding-bottom: 1rem;
}
.done-button {
    float: right;
}