#research{
    background-color: white;
}
#research .close-span
{
    background: red;
    color: black;
    size: 2rem;
    font-size: xx-large;
    float: right;
}
.researched-modal-item
{
    height: fit-content;
    background-color: rgb(130, 196, 124);
    border: none;
}
.researchable-modal-item{
    height: fit-content;
    background-color: rgb(250, 156, 145);
    border: none;
}

#researched
{
    height: fit-content;
    background-color: rgb(97, 202, 88);
    border: none;
}
#researchable{
    height: fit-content;
    background-color: salmon;
    border: none;
}